$indigo: #3B3B6D;
$dark-blue: #444484;
$blue: #595FAE;
$purple: #8F80DF;
$white: #FAFAFF;

@mixin heading ($size, $color) {
    font-family: 'Poiret One', cursive;
    font-size: $size;
    color: $color;
}
/* Portrait tablet and small desktops */
@mixin max940 {
    @media (max-width: 940px){@content};
}
/* Landscape phone to portrait tablet */
@mixin max768 {
    @media (max-width: 768px){@content};
}
/* Landscape phones and down */
@mixin max480 {
    @media (max-width: 480px){@content};
}
/*Even smaller*/
@mixin max320 {
    @media(max-width: 320px){@content};
}

body {
    margin: 0;
    padding: 0;
    font-size: 115%;
    font-family: 'Dosis', sans-serif;
}
.wrapper {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    @include max940 {
        width: 85%;
    }
    @include max768 {
        width: 90%;
    }
}
h2 {
    margin: 0;
    font-size: 3rem;
    color: $indigo;
    text-align: center;
}
.grid {
    display: grid;
}

img {
    max-width: 100%;
}
ul {
    padding-left: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}