@import './components/setup';
@import './components/global';
@import './components/header';
@import './components/form';

// ----------works section----------
//project filter part
fieldset {
    border: none;
    padding: 30px;
    text-align: center;
    input{
        display: none;
    }
    label {
        padding: 10px;
        cursor: pointer;
        display: inline-block;
        color: $dark-blue;
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            background-color:transparent;
            transition: all .2s linear;
        }
        &:hover::after {
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            background-color:$indigo;
            animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
    }
}


//project gallery part
.works {
    background: #eee;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: min-content;
    grid-gap: 40px;
    @include max768 {
        grid-template-columns: repeat(2, 1fr);
    }
    @include max480 {
        grid-template-columns: repeat(1, 1fr);
    }
}
.gallery-item {
    background: $white;
    box-shadow: 1px 2px 5px rgba(0,0,0,.10);
    p {
        margin: 0.5rem;
    }
    .links {
        height: 40px;
        display: flex;
        justify-content: space-evenly;
        @include max940 {
            flex-direction: column;
            align-items: center;
            height: 80px;
        }
        a {
            width: 80px;
            background: $blue;
            color: $white;
            text-align: center;
            padding: 5px;
            box-shadow: 1px 2px 5px rgba(0,0,0,.10);
            transition: all .2s linear;
            &:hover {
                background: $white;
                color: $blue
            }
            @include max940 {
                margin: 10px 0;
            }
        }
        img {
            width: 30px;
            margin-top: 8px;
        }
    }
}
.gallery-item-frame {
    padding: 30px;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gallery-title {
    text-align: center;
    p:first-child {
        font-weight: bold;
    }
    a {
        color: $dark-blue;
        &:hover {
            color: $purple;
        }
    }
}
.gallery-content {
    display: none;
    @include max768 {
        display: block;
    }
}
.gallery-image {
    position: relative;
}

.img-overlay {
    color: $white;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 5px);
    background: linear-gradient(180deg,#3B3B6Dff, #444484cc);
    opacity: 0;
    transition: opacity .2s linear;
    @include max768 {
        // padding: 20px;
        // opacity: 0;
        display: none;
    }
    &:hover {
        opacity: 1;
    }
    p {
        margin: 0;
    }
}
// ----------skills section----------
figure {
    width: 50px;
    height: auto;
}
.skills-icons {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    @include max480 {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
.icon {
    // width: 25%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 75% 25%;
    justify-items: center;
    align-items: center;
}
// ----------footer section----------
footer {
    background-image: url(../styles/assets/header.png);
    color: $white;
    padding: 10px;
    text-align: center;
}