article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
/*Even smaller*/
body {
  margin: 0;
  padding: 0;
  font-size: 115%;
  font-family: 'Dosis', sans-serif;
}

.wrapper {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  margin: 0;
  font-size: 3rem;
  color: #3B3B6D;
  text-align: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

img {
  max-width: 100%;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@-webkit-keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

header {
  height: 80vh;
  max-height: 600px;
  min-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #595FAE;
  background-image: url(../styles/assets/header.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.top-header {
  height: 5vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 200px;
}

.header-content {
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
}

.header-content h1 {
  margin: 0;
  font-weight: 700;
  font-family: 'Poiret One', cursive;
  font-size: 7rem;
  color: #FAFAFF;
}

@media (max-width: 480px) {
  .header-content h1 {
    font-family: 'Poiret One', cursive;
    font-size: 5rem;
    color: #FAFAFF;
  }
}

.header-content p {
  font-size: 3rem;
  color: #FAFAFF;
}

.cta {
  padding: 20px;
  margin: 0;
  width: 100%;
  position: absolute;
  top: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cta a {
  padding: 20px;
  color: #FAFAFF;
  display: inherit;
  -webkit-transform: all 0.2s linear;
          transform: all 0.2s linear;
}

.cta a::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: transparent;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.cta a:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #3B3B6D;
  -webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fix {
  position: fixed;
  top: 0;
  z-index: 900;
  background: #595FAE;
  padding: 0px;
}

.form-section {
  background: #eee;
}

.form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .form-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.profile-pic {
  width: 30%;
  margin: 10px 20px;
}

@media (max-width: 768px) {
  .profile-pic {
    margin: 20px;
    width: 50%;
  }
}

@media (max-width: 480px) {
  .profile-pic {
    margin: 20px;
    width: 80%;
  }
}

form {
  width: calc(100% - (30% + 20px));
}

@media (max-width: 768px) {
  form {
    width: 80%;
  }
}

.form-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 480px) {
  .form-half {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

input[type=text],
input[type=email],
textarea {
  border: 0;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 10px;
  border: 2px solid transparent;
  -webkit-transition: border .2s linear;
  transition: border .2s linear;
}

input[type=text]:focus, input[type=text]:hover,
input[type=email]:focus,
input[type=email]:hover,
textarea:focus,
textarea:hover {
  border: 2px solid #595FAE;
}

input[type=text],
input[type=email] {
  width: 47%;
}

@media (max-width: 480px) {
  input[type=text],
  input[type=email] {
    width: 100%;
  }
}

textarea {
  width: 100%;
  height: 150px;
}

input[type=submit] {
  border: 0;
  background: #595FAE;
  font-size: 2rem;
  color: #FAFAFF;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 10px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

input[type=submit]:hover {
  background: #FAFAFF;
  color: #595FAE;
}

fieldset {
  border: none;
  padding: 30px;
  text-align: center;
}

fieldset input {
  display: none;
}

fieldset label {
  padding: 10px;
  cursor: pointer;
  display: inline-block;
  color: #444484;
}

fieldset label::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: transparent;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

fieldset label:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #3B3B6D;
  -webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.works {
  background: #eee;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: 40px;
}

@media (max-width: 768px) {
  .gallery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .gallery {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.gallery-item {
  background: #FAFAFF;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

.gallery-item p {
  margin: 0.5rem;
}

.gallery-item .links {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 940px) {
  .gallery-item .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
  }
}

.gallery-item .links a {
  width: 80px;
  background: #595FAE;
  color: #FAFAFF;
  text-align: center;
  padding: 5px;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.gallery-item .links a:hover {
  background: #FAFAFF;
  color: #595FAE;
}

@media (max-width: 940px) {
  .gallery-item .links a {
    margin: 10px 0;
  }
}

.gallery-item .links img {
  width: 30px;
  margin-top: 8px;
}

.gallery-item-frame {
  padding: 30px;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery-title {
  text-align: center;
}

.gallery-title p:first-child {
  font-weight: bold;
}

.gallery-title a {
  color: #444484;
}

.gallery-title a:hover {
  color: #8F80DF;
}

.gallery-content {
  display: none;
}

@media (max-width: 768px) {
  .gallery-content {
    display: block;
  }
}

.gallery-image {
  position: relative;
}

.img-overlay {
  color: #FAFAFF;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 5px);
  background: -webkit-gradient(linear, left top, left bottom, from(#3B3B6Dff), to(#444484cc));
  background: linear-gradient(180deg, #3B3B6Dff, #444484cc);
  opacity: 0;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

@media (max-width: 768px) {
  .img-overlay {
    display: none;
  }
}

.img-overlay:hover {
  opacity: 1;
}

.img-overlay p {
  margin: 0;
}

figure {
  width: 50px;
  height: auto;
}

.skills-icons {
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  justify-items: center;
}

@media (max-width: 480px) {
  .skills-icons {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
}

.icon {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 75% 25%;
      grid-template-rows: 75% 25%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  background-image: url(../styles/assets/header.png);
  color: #FAFAFF;
  padding: 10px;
  text-align: center;
}
