@import './components/setup';
@import './components/global';
@import './components/header';

// .about {

// }
// ----------works section----------
.button-group {
    display: flex;
    justify-content: center;
    button {
        border: 0;
        background: white;
        padding: 20px;
        &:hover {
            font-weight: 700;
            color: $teal;
        }
    }
}
.is-checked {
    font-weight: 700;
    color: $teal;
}
.gallery {
    display: flex;
    justify-content: space-between;
}
.gallery-item {
    // float: left;
    // width: 22vw;
    width: calc((100% / 3) - 20px);
    // width: 32%;
    // height: 22vw;
    margin: 10px;
    // display flex, calc to add in gutter
    .links {
        height: 40px;
        display: flex;
        justify-content: space-evenly;
        a {
            color: $indigo;
            width: 80px;
            border: $orange 2px solid;
            background: $beige;
            text-align: center;
            &:hover {
                background: $peach;
            }
        }
    }
}
.img-overlay {
    color: $beige;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 46px);
    background: linear-gradient(180deg,#002053ff, #002053dd);
    opacity: 1;
    transition: opacity .2s linear;
    &:hover {
        opacity: 0;
    }
}
// ----------skills section----------
figure {
    width: 100px;
    height: auto;
}
.skills-icons {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}
.icon {
    width: 25%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 75% 25%;
    justify-items: center;
    align-items: center;
}