@import './components/setup';
@import './components/global';
@import './components/header';
// body {
//     position: relative;
// }
.about {
    text-align: center;
}
.grid-item, .icon {
    width: 25%;
}

figure {
    width: 100px;
    height: auto;
}
.skills-icons {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
